@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {  background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTLMtQnwTGE5KVIVjgtCi_0JgseT2J95NGbX1lmuVRxYVhJNNwa');
  background-size: cover;
  background-position: center;

}/* CSS file or within <style> tag */




.scroll-smooth {
  overflow: hidden;
}
